.mainDiv{
  background:#8440A2;
  display: flex;
  justify-content:space-around;
}
.sub1{
  background:#9BCF2C;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 2px black;
}
.sub2{
  background:#9BCF2C;
  border-radius: 10px;
  box-shadow: 2px 5px 0 0 black;
}
.sub3{
  background:#9BCF2C;
  border-radius: 10px;
  box-shadow: 2px 5px 0 0 black;
}
body{
  background: #2CBECF;

}
.image1{
  margin:5px;
  width:250;
  height: 250;
  border-radius:5px;
}
.image2{
  margin: 5px;
  width:250;
  height:250;
    border-radius:5px;
}
.image3{
  margin: 5px;
  width: 250;
  height: 250;
    border-radius:5px;
}

@media only screen and (max-width: 500px) {
    body {
        background-color:blue;
}
