.mainDiv{
  background: yellow;
  display: flex;
  justify-content: space-between;
}
.leftdiv{
text-align: center;
  background: #990099;
  position: fixed;
  width: 25%;
  height: auto;
}
.rightdiv{
  margin-left: 26%;
  background: #1a8cff;
  width: 78%;
  padding: 10px;

}
.image1{
  width: 80%;
}
@media all and (max-width: 768px)and (min-width:500px) {
body{
  background: #666600;
}
  .mainDiv{
  width: 100%;
  flex-wrap: wrap;
  }
  .leftdiv{
    width: 100%;
    position: relative;
    display: flex;
  }
    .rightdiv{
      width: 100%;
      margin-left: 0%;
    }

}
@media all and (max-width: 360px)and (min-width:499px) {
  .mainDiv{
    background: green;
    width: 100%;

  }
  .leftdiv{
    width: 100%;
    display: flex;
    margin-left: 0%;

  }
  .rightdiv{
    width: 100%;
  }
